<% var userMsg=user.userMsg[0] %>
<div class="header">
    <div class="wrapper">
        <div class="menu-bar">
            <div class="left-part">
                <a href="index" class="huaban-logo"></a>
                <a href="index" class="header-item active">首页</a>
                <a href="#" class="header-item">发现</a>
                <a href="#" class="header-item">最新</a>
                <div class="menu-nav">
                    <div class="menu-nav-content">
                        <div class="top-module">
                            <a href="#" class="text">教育</a>
                            <a href="#" class="text">移动应用</a>
                            <a href="#" class="text text-right">采集工具</a>
                        </div>
                        <div class="middle-module clearfix">
                            <div class="col1 col">
                                <a href="#" class="category-link">UI/UX</a>
                                <a href="#" class="category-link">平面</a>
                                <a href="#" class="category-link">插画/漫画</a>
                                <a href="#" class="category-link">家居/家装</a>
                                <a href="#" class="category-link">女装/搭配</a>
                            </div>
                            <div class="col2 col">
                                <a href="#" class="category-link">男士/风尚</a>
                                <a href="#" class="category-link">婚礼</a>
                                <a href="#" class="category-link">工业设计</a>
                                <a href="#" class="category-link">摄影</a>
                                <a href="#" class="category-link last">兴趣/生活&gt;&gt;</a>

                            </div>
                        </div>
                        <div class="bottom-module">
                            <div class="pin-icon"></div>
                            <div class="links">
                                <a href="#" rel="nofollow">关于</a>
                                <span>&middot;</span>
                                <a href="#" rel="noopennernoreferrer" target="_blank">帮助</a>
                                <span>&middot;</span>
                                <a href="#" rel="nofollow">反馈</a>
                                <span>&middot;</span>
                                <a href="#" rel="nofollow">博客</a>
                            </div>
                            <div class="up-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div class="message-nav">
                    <a href="#" class="nav-link" title="通知">
                        <div class="message-nav-icon"></div>
                        <div class="num-hidden">1</div>
                    </a>
                    <div class="message-group">
                        <div class="bar">
                            <div class="left barTitle active click" boxer=".box-mentions">消息</div>
                            <div class="right barTitle" boxer=".box-activities">动态</div>
                        </div>
                        <div class="boxer">
                            <div class="box box-mentions">
                                <div class="empty">没有消息</div>
                            </div>
                            <div class="box box-activities hidden">
                                <div class="item">
                                    <a href="#" class="avt">
                                        <img src="http://img.hb.aicdn.com/f8d9d5904f196c8741bc884dd4d0be1d47b9b1d89f43f-qtgZCL_sq75sf"
                                            alt="">
                                    </a>
                                    <div class="details">
                                        <div class="line">
                                            <a href="#" class="brown-link">Tsubame酱</a>
                                            <span>转采了你的采集</span>
                                        </div>
                                        <div class="line">
                                            <a href="#" class="brown-link">Bacterial、Bacterial、水晶、矿石、crystal</a>
                                        </div>
                                    </div>
                                    <a href="#" class="pin-link">
                                        <img src="http://img.hb.aicdn.com/3c61a2abc91787089208a3308bd91ce06767c7e923236-5YcJzV_sq75sf"
                                            alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#" class="avt">
                                        <img src="http://img.hb.aicdn.com/f8d9d5904f196c8741bc884dd4d0be1d47b9b1d89f43f-qtgZCL_sq75sf"
                                            alt="">
                                    </a>
                                    <div class="details">
                                        <div class="line">
                                            <a href="#" class="brown-link">Tsubame酱</a>
                                            <span>转采了你的采集</span>
                                        </div>
                                        <div class="line">
                                            <a href="#" class="brown-link">Bacterial、Bacterial、水晶、矿石、crystal</a>
                                        </div>
                                    </div>
                                    <a href="#" class="pin-link">
                                        <img src="http://img.hb.aicdn.com/3c61a2abc91787089208a3308bd91ce06767c7e923236-5YcJzV_sq75sf"
                                            alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#" class="avt">
                                        <img src="http://img.hb.aicdn.com/f8d9d5904f196c8741bc884dd4d0be1d47b9b1d89f43f-qtgZCL_sq75sf"
                                            alt="">
                                    </a>
                                    <div class="details">
                                        <div class="line">
                                            <a href="#" class="brown-link">Tsubame酱</a>
                                            <span>转采了你的采集</span>
                                        </div>
                                        <div class="line">
                                            <a href="#" class="brown-link">Bacterial、Bacterial、水晶、矿石、crystal</a>
                                        </div>
                                    </div>
                                    <a href="#" class="pin-link">
                                        <img src="http://img.hb.aicdn.com/3c61a2abc91787089208a3308bd91ce06767c7e923236-5YcJzV_sq75sf"
                                            alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#" class="avt">
                                        <img src="http://img.hb.aicdn.com/f8d9d5904f196c8741bc884dd4d0be1d47b9b1d89f43f-qtgZCL_sq75sf"
                                            alt="">
                                    </a>
                                    <div class="details">
                                        <div class="line">
                                            <a href="#" class="brown-link">Tsubame酱</a>
                                            <span>转采了你的采集</span>
                                        </div>
                                        <div class="line">
                                            <a href="#" class="brown-link">Bacterial、Bacterial、水晶、矿石、crystal</a>
                                        </div>
                                    </div>
                                    <a href="#" class="pin-link">
                                        <img src="http://img.hb.aicdn.com/3c61a2abc91787089208a3308bd91ce06767c7e923236-5YcJzV_sq75sf"
                                            alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#" class="avt">
                                        <img src="http://img.hb.aicdn.com/f8d9d5904f196c8741bc884dd4d0be1d47b9b1d89f43f-qtgZCL_sq75sf"
                                            alt="">
                                    </a>
                                    <div class="details">
                                        <div class="line">
                                            <a href="#" class="brown-link">Tsubame酱</a>
                                            <span>转采了你的采集</span>
                                        </div>
                                        <div class="line">
                                            <a href="#" class="brown-link">Bacterial、Bacterial、水晶、矿石、crystal</a>
                                        </div>
                                    </div>
                                    <a href="#" class="pin-link">
                                        <img src="http://img.hb.aicdn.com/3c61a2abc91787089208a3308bd91ce06767c7e923236-5YcJzV_sq75sf"
                                            alt="">
                                    </a>
                                </div>
                            </div>

                        </div>
                        <a href="/msg_atvt" class="show-all">查看所有消息&gt;&gt;</a>
                        <div class="triangle"></div>
                    </div>
                </div>
                <div class="user-nav">
                    <a href="mine" class="nav-link" title="你好<%=userMsg.user_name %>">
                        <!-- <%= JSON.stringify(userMsg) %> -->
                        <img class="avt" src="<%= userMsg.user_img %>">
                        <div class="arrow"></div>
                        <div class="num-hidden">3</div>
                    </a>
                    <div class="user-menu">
                        <div class="group">
                            <a href="index">我的花瓣<i class="mine"></i></a>
                            <!-- <a href="#" target="_blank" class="pro">花瓣Pro<i class="pro"></i></a> -->
                            <a href="#" title="私信" class="dm-nav">私信<i class="messages"></i></a>
                            <a href="#">我的关注<i class="following"></i></a>
                        </div>
                        <!-- <div class="group">
                            <a href="#">版权登记<i class="copyright"></i></a>
                            <a href="#">花瓣认证设计师<i class="verified"></i></a>
                        </div> -->
                        <div class="group">
                            <a href="#">查找好友<i class="friends"></i></a>
                        </div>
                        <div class="group">
                            <a href="setting">账号设置<i class="settings"></i></a>
                            <a href="exit">退出<i class="exit"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-part">
                <form action="" method="get" class="search-unit">
                    <div id="selectoption" class="selectoption">
                        <div class="select-line">
                            <div class="select-text">采集</div>
                            <i class="select-icon"></i>
                        </div>
                    </div>
                    <input type="text" class="query" name="q" size="27" autocomplete="off" placeholder="搜索你喜欢的">
                    <input name="type" value type="hidden">
                    <a href="/search_login" class="go"></a>
                </form>
                <div class="menu-parent">
                    <div class="searching-menu">
                        <div class="search-item active" data-value="pins" data-url="">采集</div>
                        <div class="search-item" data-value="boards" data-url="">画板</div>
                        <div class="search-item" data-value="people" data-url="">用户</div>
                        <div class="search-item" data-value="self_pins" data-url="">我的采集</div>
                        <div class="search-item" data-value="self_boards" data-url="">我的画板</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>