<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,minimum-scale=0.1, maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <link rel="icon" href="huaban.ico">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <title>花瓣，陪你做生活的设计师(家居，美食，时尚，穿搭，设计，商品，美图等)</title>
</head>

<body>

    <div class="page">
        <%include header.ejs %>
        <div class="wrapper">
            <% var userMsg=user.userMsg[0] %>
            <% var pins=user.userPins %>
            <div class="waterfall" id="waterfall">

                <% pins.forEach(function(pin){%>
                <div class="pin">
                    <div class="actions">
                        <div class="left">
                            <a href="#" class="repin btn pin-default rbtn">
                                <span>采集</span>
                            </a>
                            <a href="#" class="repin btn rbtn pin-quick">
                                <img src="images/quick_pin.svg" alt="">
                            </a>
                        </div>
                        <div class="right">
                            <a href="#" class="edit btn">
                                <span>编辑</span>
                            </a>
                        </div>
                    </div>
                    <a href="#" target="_self" class="img loaded">
                        <img src="<%=pin.pin_img %>" alt="">
                        <div class="cover"></div>
                    </a>
                    <div class="convo attribution clearfix">
                        <a href="#" class="img x">
                            <img src="<%=pin.owner_img%>" alt="" class="avt">
                        </a>
                        <div class="text">
                            <div class="inner">
                                <div class="line">
                                    <a href="#" class="author x"><%=userMsg.user_name %></a>采集到
                                </div>
                                <div class="line">
                                    <a href="#" class="x"><%=pin.board_name %></a>
                                </div>
                                <a href="#" title="评论" class="replyButton"></a>
                            </div>
                        </div>
                    </div>

                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <script src="javascripts/login_bar.js"></script>
    <script src="javascripts/waterfall.js"></script>
</body>

</html>