<div class="header">
        <div class="wrapper clearfix">
            <div class="menu-bar">
                <div class="left-part">
                    <a href="#" class="huaban-logo"></a>
                    <a href="#" class="header-item active">首页</a>
                    <a href="#" class="header-item">发现</a>
                    <a href="#" class="header-item">最新</a>
                    <div class="menu-nav">
                        <div class="menu-nav-content">
                            <div class="top-module">
                                <a href="#" class="text">教育</a>
                                <a href="#" class="text">移动应用</a>
                                <a href="#" class="text text-right">采集工具</a>
                            </div>
                            <div class="middle-module clearfix">
                                <div class="col1 col">
                                    <a href="#" class="category-link">UI/UX</a>
                                    <a href="#" class="category-link">平面</a>
                                    <a href="#" class="category-link">插画/漫画</a>
                                    <a href="#" class="category-link">家居/家装</a>
                                    <a href="#" class="category-link">女装/搭配</a>
                                </div>
                                <div class="col2 col">
                                    <a href="#" class="category-link">男士/风尚</a>
                                    <a href="#" class="category-link">婚礼</a>
                                    <a href="#" class="category-link">工业设计</a>
                                    <a href="#" class="category-link">摄影</a>
                                    <a href="#" class="category-link last">兴趣/生活&gt;&gt;</a>

                                </div>
                            </div>
                            <div class="bottom-module">
                                <div class="pin-icon"></div>
                                <div class="links">
                                    <a href="#" rel="nofollow">关于</a>
                                    <span>&middot;</span>
                                    <a href="#" rel="noopennernoreferrer" target="_blank">帮助</a>
                                    <span>&middot;</span>
                                    <a href="#" rel="nofollow">反馈</a>
                                    <span>&middot;</span>
                                    <a href="#" rel="nofollow">博客</a>
                                </div>
                                <div class="up-arrow"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-part">
                    <div class="login-nav">
                        <a class="unlogin_loginbtn bounce btn">登录</a>
                        <a class="unlogin_resgisterbtn bounce btn rbtn">注册</a>
                    </div>
                </div>
                <div class="middle-part">
                    <form action="" method="get" class="search-unit">
                        <div id="selectoption" class="selectoption">
                            <div class="select-line">
                                <div class="select-text">采集</div>
                                <i class="select-icon"></i>
                            </div>
                        </div>
                        <input type="text" class="query" name="q" size="27" autocomplete="off" placeholder="搜索你喜欢的">
                        <input name="type" value type="hidden">
                        <a href="#" class="go"></a>
                    </form>
                    <div class="menu-parent">
                        <div class="searching-menu">
                            <div class="search-item active" data-value="pins" data-url="">采集</div>
                            <div class="search-item" data-value="boards" data-url="">画板</div>
                            <div class="search-item" data-value="people" data-url="">用户</div>
                            <div class="search-item" data-value="self_pins" data-url="">我的采集</div>
                            <div class="search-item" data-value="self_boards" data-url="">我的画板</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>