/*导航*/

.header {
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    z-index: 99997;
}

.wrapper {
    margin: 0 auto;
    width: 1498px;
    position: relative;
}
@media screen and (max-width:1280px) {
    .wrapper {
        width: 992px;
    }
}

@media screen and (min-width:1280px) and (max-width:1422px) {
    .wrapper {
        width: 1244px;
    }
} 


.menu-bar {
    height: 48px;
    /* margin: 0 16px; */
    /* min-width: 992px; */
    text-align: center;
}

/*左边部分*/

.left-part {
    margin-top: 10px;
    float: left;
}

.left-part a {
    text-decoration: none;
    outline: none;
}

.huaban-logo {
    width: 80px;
    height: 28px;
    margin-right: 20px;
    float: left;
    background: url(../images/logo.svg) 0 0 no-repeat;
}


.header-item {
    position: relative;
    float: left;
    color: #444;
    margin-right: 25px;
    line-height: 28px;
    cursor: pointer;
}

.header-item:hover {
    color: #c90000;
}

.active {
    color: #c90000;
}

/* a:hover {
    color: #c90000;
} */

/*...*/

.menu-nav {
    width: 24px;
    height: 28px;
    position: relative;
    float: left;
    margin-right: 20px;
    background: url(../images/menu_sprite.svg) 0 -248px no-repeat;
    cursor: pointer;
}

.menu-nav-content {
    width: 270px;
    padding: 20px 20px 0;
    position: absolute;
    top: 50px;
    left: -128px;
    background-color: #fff;
    text-align: left;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    display: none;
}

/* .menu-nav:hover .menu-nav-content {
    display: block;
} */
.top-module a:hover,.middle-module a:hover{
    color: #c90000;
}
.top-module {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.top-module .text {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    color: #222;
    font-weight: 700;
    width: 90px;
    text-align: left;
    text-decoration: none;
}

/*采集工具*/

.top-module .text-right {
    width: auto;
    float: right;
}

/*采集工具*/

.middle-module {
    margin-bottom: 8px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.col {
    float: left;
}

.col1 {
    width: 120px;
}

.col2 {
    width: 150px;
}

.category-link {
    display: block;
    line-height: 28px;
    color: #222;
}

.category-link.last {
    font-weight: 700;
}

.bottom-module {
    height: 36px;
}

.pin-icon {
    float: left;
    width: 26px;
    height: 26px;
    background: url(../images/menu_sprite.svg) 7px -302px no-repeat;
    border: 1px solid #ededed;
    cursor: pointer;
}

.pin-icon:hover {
    background-position: -43px -302px;
    background-color: #ddd;
}

.links {
    float: right;
    height: 26px;
    line-height: 26px;
}

.links>a {
    margin: 0 8px;
    color: #999;
}

.links>a:hover {
    text-decoration: underline;
}

.links>a:last-child {
    margin-right: 0;
}

.links>span {
    color: #999;
    cursor: default;
}

.up-arrow {
    width: 18px;
    height: 10px;
    position: absolute;
    left: 131px;
    top: -9px;
    background: url(../images/menu_arrow.png) 0 0 no-repeat;
    ;
}

/*...*/

.header-item.cut-off {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #ddd;
    margin: 2.5px 20px 2.5px -5px;
}

/*左边部分*/

.right-part {
    margin-left: 20px;
    float: right;
}

/*右边部分*/

/*message*/

.message-nav {
    width: 46px;
    height: 48px;
    position: relative;
    float: left;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    margin-left: -10px;
    cursor: pointer;
}

.nav-link {
    display: block;
    height: 48px;
    line-height: 48px;
    position: relative;
    text-align: center;
}

.message-nav-icon {
    width: 46px;
    height: 48px;
    background: url(../images/menu_sprite.svg) 0 0 no-repeat;
    background-position: 15px -185px;
}

.nav-link:hover .message-nav-icon {
    background-position: -35px -185px;
}

/*message-box*/

.message-group {
    width: 391px;
    font-size: 14px;
    background: #fff;
    position: absolute;
    top: 59px;
    right: -48px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05), 0 8px 16px 0 rgba(0, 0, 0, .07);
    cursor: default;
    display: none;
}

.message-nav:hover .message-group {
    display: block;
}

.bar {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #ededed;
}

.barTitle {
    float: left;
    width: 195px;
    color: #444;
    background-color: #fafafa;
    cursor: pointer;
}

.bar .left {
    border-right: 1px solid #ededed;
}

.barTitle.active {
    background-color: #fff;
}

.boxer {
    /*消息盒子中间部分*/
}

/*两个box*/

.box {
    height: 292px;
    overflow-y: auto;
    background: #ffffff;
    position: relative;
}

/*两个box*/

/*消息box*/

.empty {
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    margin: -25px 0 0 -100px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
}

/*消息box*/

/*动态box*/

.item {
    height: 40px;
    padding: 16px 70px 16px 70px;
    line-height: 20px;
    text-align: left;
    border-bottom: 1px solid #ededed;
    background: #fff;
    color: #999;
    position: relative;
}

.item>a.avt,
.item>a.pin-link {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 16px;
}

.item>a.avt {
    left: 20px;
}

.item>a.pin-link {
    right: 20px;
}

a.avt>img,
a.pin-link>img {
    width: 40px;
    height: 40px;
}

.line {
    height: 20px;
    overflow: hidden;
    /*超出部分...代替*/
    white-space: nowrap;
    text-overflow: ellipsis;
    /*超出部分...代替*/
}

.details a {
    padding: 0 5px 0 0;
    color: #9e7e6b;
}

.details a:hover {
    color: #9a0000;
    text-decoration: underline;
}

/*动态box*/

.hidden {
    display: none;
}

a.show-all {
    display: block;
    height: 38px;
    line-height: 38px;
    color: #999;
    background: #fafafa;
}

a.show-all:hover {
    text-decoration: underline;
}

.triangle {
    width: 20px;
    height: 10px;
    position: absolute;
    top: -10px;
    right: 60px;
    background: url(../images/message_arrow.svg) 0 0 no-repeat;
}

/*message-box*/

/*message*/

.num-hidden {
    padding: 0 3px;
    line-height: 15px;
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 10px;
    font-weight: 700;
    background-color: #c60000;
    color: #fff;
}

/*头像*/

.user-nav {
    width: 46px;
    float: left;
    border-right: 1px solid #f5f5f5;
    cursor: pointer;
    position: relative;
}

img.avt {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    line-height: 48px;
    border: 0;
    vertical-align: middle;
    text-align: center;
}

/* 用户菜单 */

.user-menu {
    width: 180px;
    background-color: #fff;
    text-align: left;
    font-size: 14px;
    color: #221919;
    line-height: 1;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    top: 48px;
    left: -133px;
    display: none;
}

.user-nav:hover .user-menu {
    display: block;
}

.user-menu::before {
    content: "";
    display: block;
    box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    margin: 0 -10px 0;
    border-bottom: 1px solid #ededed;
}

.group {
    display: block;
    position: relative;
    border-bottom: 1px solid #e1dfdf;
}

.group>a {
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: left;
    font-weight: 400;
    color: #222;
    padding-left: 38px;
    position: relative;
}

.group>a:hover {
    color: #221919;
    background-color: #f2f2f2;
    text-decoration: none;
}

/*第一批a的第一批a*/

.group:first-child a:first-child {
    margin-top: 10px;
}

/*第一批a的第一批a*/

/* 最后一批a的最后一批a */

.group:last-child a:last-child {
    margin-bottom: 10px;
}

/* 最后一批a的最后一批a */

.group i {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/icon_user_menu.svg) 0 0 no-repeat;
    position: absolute;
    top: 13px;
    left: 15px;
}

.group a.pro {
    color: #c90000;
}

.group i.pro {
    background-position: 0 -800px;
}

i.messages {
    background-position: 0 -560px;
}

i.follow {
    background-position: 0 -360px;
}

i.copyright {
    background-position: 0 -760px;
}

i.verified {
    background-position: 0 -600px;
}

i.friends {
    background-position: 0 -40px;
}

i.settings {
    background-position: 0 -160px;
}

i.exit {
    background-position: 0 -200px;
}

/* 用户菜单 */

/*头像*/

.arrow {
    width: 8px;
    height: 8px;
    background: url(../images/menu_sprite.svg) 0 -50px no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*右边部分*/

/*中间部分*/

.middle-part {
    padding-top: 3px;
}

.search-unit {
    min-width: 450px;
    height: 32px;
    margin-top: 4px;
    font-size: 14px;
    color: #bbb;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    float: left;

}

.selectoption {
    display: inline-block;
    min-width: 64px;
    position: absolute;
    color: #999;
    overflow: hidden;
}

.select-line {
    padding: 8px 10px;
    cursor: pointer;
}

.select-text {
    color: #999;
    font-size: 14px;
    line-height: 1;
    display: inline;
}

.select-icon {
    display: block;
    width: 12px;
    height: 12px;
    float: right;
    margin-left: 8px;
    margin-top: 2px;
    background: url(../images/ic-arrow-down.svg);
}

.search-unit input {
    width: 100%;
    height: 32px;
    border: 0;
    background-color: transparent;
    padding-left: 68px;
    outline: 0;
    /*不允许拉伸input*/
    resize: none;
    /*不允许拉伸input*/
}

.go {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 1px;
    right: 0;
    cursor: pointer;
    background: url(../images/menu_sprite.svg) 5px -93px no-repeat;
    ;
}

.menu-parent {
    position: relative;
}

.searching-menu {
    width: 170px;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .07), 0 1px 3px 0 rgba(0, 0, 0, .02), 0 0 0 1px rgba(0, 0, 0, .05);
    border-radius: 2px;
    position: absolute;
    top: 38px;
    left: 303px;
    z-index: 10;
    /* display: none; */
}

.search-item {
    padding: 9px 15px;
    overflow: hidden;
    color: #444;
    text-align: left;
    text-overflow: ellipsis;
    cursor: pointer;
}

.search-item.active,
.search-item:hover {
    background-color: #f7f7f7;
}


/*中间部分*/

/* 导航 */
